.border.header {
  border-bottom: 1px solid $borderColor;
}

.nav-menu {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav,
.auth-nav {
  display: none;
}
